body {
    background-color: rgb(57, 57, 241);
}

header {
    color: white;
    text-align: center;
    font: normal 25pt Arial;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.192);
}

section {
    background-color: white;
    border-radius: 25pt;
    padding: 8pt;
    width: 500pt;
    margin: auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.247);
}

footer {
    color: white;
    text-align: center;
    font: normal 14pt Arial;
}

input {
    border: none;
    border-width: 0pt;
    text-align: center;
    font: normal 14pt Arial;     
}

label {
    text-align: center;
    font: normal 14pt Arial;    
}

button {
    text-align: center;
    font: normal 14pt Arial;     
}

.botao {
    text-align: center;
    font: normal 14pt Arial;    
}

.Resultado {
    text-align: center;
    font: normal 14pt Arial;     
}