body {
    background-color: dodgerblue;
    color: whitesmoke;
}

.bt-primary {
    color: whitesmoke;
    background-color: tomato;
    border-radius: 35%;
    border: none;
    height: 50px;
    width: 75px;
}

.teste {
    min-height: 100vh;
}